.head{
    background-color: aqua;
    
}

.nav{
    background-color: bisque;
}


.navbar .navbar-nav .nav-link:hover {
background-color: #494646;
color: #fbfbfb;

}  
.navbar .navbar-nav .nav-link {
padding: 0.6em;
font-size: 1.2em;
transition: all 0.5s;
}
.navbar .navbar-brand {
padding: 0 0.6em;
font-size: 1.5em;
font-weight: bold;
}
@media only screen and (min-width:992px){
    .dropdown-menu{
        background-color: aquamarine;
        display: none;
      }
      .dropdown:hover .dropdown-menu{
        display: block;
      }
}
@media only screen and (min-width: 992px) {
.navbar {
padding: 0;
}
.navbar .navbar-nav .nav-link {
padding: 1em 0.7em;
}
.navbar .navbar-brand {
padding: 0 0.8em;
}
}